output/*
from_mobile/saved_images/*
static/saved_images/*
checkpoints/*
checkpoints/**/*
face-cropping_output/**/*

test-images/*
test-images/**/*

output-images/*
output-images/**/*

shape_predictor_68_face_landmarks.dat
face_transformations/hair/opsg_richard_grenell_official_photo_1194567_1.psd
database.sqlite3


!output/.gitkeep
!from_mobile/saved_images/.gitkeep
!static/saved_images/.gitkeep
